<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Пользователь: <%= @request.name %></h1>
<p>
  Его вопрос: <%= @request.description %>
</p>
<p>Ждет ответа!</p>
</body>
</html>