<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Уважаемый, <%= @request.name %></h1>
<p>
  Мы получили ваш вопрос, предлагаем следующее решение:
</p>
<p>
  <%= @request.response %>
</p>
</body>
</html>