<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Здравствуйте, <%= @request.name %></h1>
<p>
 Мы получили ваше обращение и в ближайшее время свяжемся с вами!
</p>
</body>
</html>