<div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-8 col-xs-12 offset-lg-3 offset-md-2 offset-sm-2 mt-5">
      <h1>Новое обращение</h1>
      <p class="mt-5">У нас Вы можете оставить анонимный отзыв о нашем сервисе или задать вопрос. Мы обязательно свяжемся с Вами, ведь нам важен каждый!</p>
      <%= render 'form', request: @request %>
    </div>
  </div>
</div>